<tr>
  <th scope="row"><%= task.id %></th>
  <td colspan="1"><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.member_id %></td>
  <td><%= task.status %></td>
  <td><%= link_to "View", project_task_path(@project.id,task.id) %></td>
</tr>
