<tr>
  <th scope="row"><%= project.id %></th>
  <td><%= project.name %></td>
  <td><%= project.description %></td>
  <td><%= link_to "View Tasks", project_tasks_url(project), class: "btn ml-3" %></td>
  <td><%= link_to "Edit", edit_project_path(project), class: "btn ml-3" %></td>
  <td><%= button_to "Delete", @project, method: :delete, class: "btn ml-3" %></td>
</tr>