<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= member.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= member.user_id %>
  </p>

</div>
